body{
    background-image:linear-gradient(-20deg, #b9b9b9 0%, rgb(255, 255, 255));
    padding: 150px;
    font-family:'Times New Roman', Times, serif;
}
ul {
    margin-left: 10px;
}
.kepo1{
    margin-left: -45px;
}
input[type=text]{
    background-color: rgb(218, 218, 218);
}
.jika{
    font-style: italic;
    font-size: small;
}