body{
    background-image: url("yo.gif");
    background-position: left bottom;
    background-repeat: round ;
    background-color: rgb(255, 247, 200);
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    text-align: center;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.content{
    box-sizing: border-box;
    background-color: rgb(252, 255, 240);
}
h4{
    text-align: center;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}
img{
    max-width: 6cm;
    max-height: 10cm;
}
.news{
    margin: 0px 200px 200px 200px;

}
.artikel{
    text-align: left;
    text-indent: 50px;
    letter-spacing: 1px;
}
.title{
background-color: rgb(252, 255, 240);
border-spacing: 1cm;
}
p.references{
    font-style: oblique;
}
a.references{
    color: royalblue;
    text-decoration: underline;
    font-style: normal;

}