h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 20px;
}

h2 {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 10px; 
}

.Pengumuman {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-indent: 50px;
    padding-left: 30px;
}

.form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 100;
    padding-left: 30px;
    background-color: aliceblue;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-indent: 50px;
    padding-left: 30px;
}

.tabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

.konten {
    border-style: solid;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 50px;
    border-color: black;
    border-width: 5px;
    background-color: lightblue;
}

body {
    background-image: url("awan.jpg");
}

.lorem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-indent: 50px;
    padding-left: 30px;
}