* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: lightyellow;
}
h1 {
    text-align: center;
}
p {
    text-align: justify;
    text-indent: 30px;
}
.img1 {
    max-width: 800px;
    max-height: 500px;
    min-width: 700px;
    min-height: 500px;
}
.copyright{
    text-align: center;
}