header
{
    margin-left: -20px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 5px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #ffff;
    color: rgb(113, 222, 255);
}
h1{
    text-align: center;
    color: #ffff;
    font-style: oblique;
}
h2{
    color: #ffff;
}
p{
    color: #ffff;
    font-weight: bold;
}
ul{
    color: #ffff;
}
body{
    background: linear-gradient(rgb(113, 222, 255),rgb(255, 202, 123));
}
div.list{
    position: relative;
    border: solid rgb(255, 202, 123);
    background-color: rgb(255, 221, 170);
    margin-left: 200px;
    margin-right: 800px;
    border-width: 10px;
    border-radius: 10px;
    margin-top: 100px;
    z-index: 1000;
}
td{
    text-align: center;
}
section{
    position: fixed;
    margin-left: -20px;
    margin-top: 10px;
    opacity: 15%;
    z-index: 1;
}
div.awal{
    position: relative;
    z-index: 10;
}
div.ringkasan{
    position: relative;
    margin-top: 70px;
    z-index: 10000;
}